src/main/mule/matrymony-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="matrymony-prc-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="matrymony-prc-api-config" api="matrymony-prc-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="matrymony-prc-api-main">
        <http:listener config-ref="matrymony-prc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="matrymony-prc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="matrymony-prc-api-console">
        <http:listener config-ref="matrymony-prc-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="matrymony-prc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="matrymony-prc-apiFlow1" doc:id="27b9b4ab-481b-4d9c-80a6-69f039ed0bd0" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="cf10b4a6-d8a0-4766-9087-dbd315831d04" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="bc20002f-cfc0-41d9-8c06-9986ab6c6aec" message="Scatter 1 Bharath Matrymony"/>
				<http:request method="POST" doc:name="Bharath matymony" doc:id="1b6059df-055e-487e-ad6a-623a4bcd44e4" url="http://bharath-matrymony-sys-api.us-e2.cloudhub.io/api/brideInfo" responseTimeout="120000"/>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="a1867b7f-522c-41f6-8b52-29c4f09cb521" message="Scatter 2 Telugu  Matrymony"/>
				<http:request method="POST" doc:name="Telugu matrymony" doc:id="bdb5548c-b999-4294-b155-1a20f3f9c61d" url="http://telugu-matrymony-sys-api.us-e2.cloudhub.io/api/brideInfo" responseTimeout="120000"/>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="405bc00c-b7ef-4023-a269-3498d101f32f" message="Scatter 3 Shadi Matrymony"/>
				<http:request method="POST" doc:name="Shadi Matrymony" doc:id="388e5913-ebc1-4298-b5fe-fde012332279" url="http://shadi-matrymony-sys-api.us-e2.cloudhub.io/api/brideInfo" responseTimeout="120000"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="0c29fd6e-f3ec-4488-898c-6f712349da4f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{

"bharathMatrymony" : payload[0].payload,
"TeluguMatrymony": payload[1].payload,
"ShadiMatrymony": payload[2].payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a6248f64-5973-471e-a6e7-a2b188dd8986" message="Process api response from matrymony #[payload]"/>
	</flow>
	<flow name="post:\brideInfo:application\json:matrymony-prc-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="6776f02c-2bd7-4dd5-a3f9-87125c94003d" name="matrymony-prc-apiFlow1"/>
    </flow>
</mule>
